/*  Font Family  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  Final Font Family  */



/*  General CSS  */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color:#0d0d0d;
}

.segredo-cima {
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    height: 30px;
    width: 1500px;
    background-color: white;
}

.segredo-cima p {
    position: absolute;
    color: black;
    font-weight: bold;
}

.segredo-cima {
    color: #6636ff;
}

.segredo-cima:before {
    content: 'Follow the rabbit.';
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    height: 700px;
    width: 1500px;
    border: solid 2px white;
}

.x {
    position: absolute;
    margin-left: 1450px;
    height: 20px;
    width: 20px;
    background-color: #6636ff;
    border-radius: 5px;
}

.x a {
    background-color: transparent;;
    position: absolute;
    height: 20px;
    width: 20px;
    color: white;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-size: 10px;
    justify-content: center;
}
.y {
    position: absolute;
    margin-left: 1380px;
    height: 20px;
    width: 20px;
    background-color: #0d0d0d;
    border-radius: 5px;
}
.z {
    position: absolute;
    margin-left: 1310px;
    height: 20px;
    width: 20px;
    background-color: #0d0d0d;
    border-radius: 5px;
}