/*  Font Family  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  Final Font Family  */

/*  General CSS  */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--bg);
}

html {
    --bg: #0d0d0d;
    --white-to-black: #fff;  
    --black-to-white: #0d0d0d;
    --logo: invert(0%);
    --header:linear-gradient(0deg, #00000000 70%, rgba(0, 0, 0, 0.753) 110%),
    linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.656) 50%),
    linear-gradient(110deg, #000000dc 50%, rgba(0, 0, 0, 0.251)150%),
    url('../img/bg.png');
    --scroll: #2e2e2e;
    --up-to-top:#2e2e2ea4;
    --shadow: 0px 0px 50px #0d0d0d;
}


html[data-theme='light']{
    --bg: #fff;
    --white-to-black: #0d0d0d;
    --black-to-white: #fff;
    --logo: invert(100%);
    --shadow: 0px 0px 50px rgba(255, 255, 255, 0.348);
    --header:linear-gradient(0deg, #ffffff00 70%, rgba(255, 255, 255, 0.753) 110%),
    linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0.656) 50%),
    linear-gradient(110deg, #ffffffa9 50%, rgba(255, 255, 255, 0.139)150%),
    url('../img/bg.png');
    --scroll: #cfcfcf;
    --up-to-top: #cfcfcfbd;
}


.dark-mode-button {
    font-size: 25px;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: #6636ff;
    cursor: pointer;
    -webkit-transition: all 0.4s;
}

.dark-mode-button:hover {
    transform: scale(1.2);
}

input {
    display: none;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--black-to-white);
}
  
::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border-radius: 10px;
    border: solid 4px var(--black-to-white);
}

/*  Final General CSS  */



/*  Header  */

.container-home {
    height: 100VH;
    background-image:var(--header);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    background-attachment: fixed ;
    display: flex;
    flex-direction: column;
}

.menu {
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 100px;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    padding-left: 20px;
    padding-right: 20px;
    position: fixed!important;
    z-index: 1;
}

.menu-s {
    background-color:transparent;
    width: 100%;
    height: 100px;
    z-index: 1;
    position: fixed!important;
    -webkit-transition: all 0.4s;
}

.menu-scroll-yes {
    background-color:var(--bg);
    width: 100%;
    height: 100px;
    z-index: 1;
    position: fixed!important;
    -webkit-transition: all 0.4s;
    box-shadow: var(--shadow);
}

.item-menu {
    list-style: none;
    display: flex;
    align-items: center;
    animation: load-4 2s;
    
}

.item-menu li a {
    color: var(--white-to-black);
    font-size: 16px;
    font-weight:500;
    text-decoration: none;
    margin-left: 60px;
    -webkit-transition: all 0.2s;
}

.page{
    color: #6636ff!important;
    font-size: 18px;
    font-weight:800;
}

.item-menu li a:hover {
    color: #6636ff;
    -webkit-transition: all 0.2s;
}


.logo img {
    max-width: 220px;
    filter: var(--logo);
    animation: load-2 2s;
}


/*  Final Header  */



/*  Texto Header  */
.text-header {
    width: 1600px;
    padding-top: 280px;
    opacity: 1;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    animation: load 2s;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;  
}

.text-header h1 {
    padding-top: 70px;
    font-weight: 700;
    font-size: 48px;
    color: var(--white-to-black);
    font-style:black;
}

.text-header a {
    text-decoration: none;
}

.title {
    padding-top: 7px;
    font-weight: 600;
    font-size: 28px;
    color: #6636ff;
    max-width: 770px;
}

.descri p {
    font-size: 20px;
    color: var(--white-to-black);
    max-width: 800px;
    padding-top: 45px;
    line-height: 35px;
    letter-spacing: 0.5px;
}


.words span{
    display: block;
    animation: spin 8s infinite;
}

.words {
    overflow: hidden;
    height: 40px;
}


.scroll-down {
    padding-top:115px;
    display: flex;
    justify-content: center;
    z-index: 0;
    animation: floating 2s infinite ease-in-out;
}

.scroll-down a{
    height: 100px;
    width: 70px;
    border-radius: 50px;
    /* border: 2px solid white; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: var(--white-to-black);
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.4s;
}


.scroll-down a:hover {
    background-color: var(--white-to-black);
    color: #6636ff;
    -webkit-transition: all 0.4s;
}

.btn-style {
    display: flex;
    grid-gap: 20px;
    padding-top: 45px;
}
.btn-style a{
    background: transparent;
    border-radius: 50px;
    /* border: 2px solid white; */
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--white-to-black);
    font-size: 20px;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.2s;
}

.btn-style a:hover {
    color: #6636ff;
    -webkit-transition: all 0.2s;
}
.or {
    color: var(--white-to-black);
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-size: 18px;
}


/*  Final Texto Header  */



/*  Items Portfolio  */

.container-portfolio {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--black-to-white);
}

.item-portfolio {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    max-width: 1600px;
    width: 100%;
    grid-gap: 20px;
}

.item-portfolio img {
    display: flex;
    width: 100%;
    -webkit-transition: all 0.4s;
}

.item1:hover img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.4s;
}

.item1 {
    display: flex;
    width: 100%;
    border-radius: 20px;
    height: auto;
    -webkit-transition: all 0.4s;
    background-color: transparent;
    position: relative;
    
}

.item1 a {
    position: absolute;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 35px;
    width: 100%;
    height: 100%;
    font-weight: 700;
    color: transparent;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: all 0.4s;
    flex-direction: column;
    
}

.item1:hover a{
    color: white;
    transition: background-color 0.5s ease;
    background-color:rgba(57, 31, 143, 0.809);
    -webkit-transition: all 0.4s;
}


.desc {
    font-size: 18px;
    font-weight: 400;
}

/*  Final Items Portfolio  */



/* To Top */

.topo {
    height: 60px;
    width: 60px;
    background-color: var(--up-to-top);
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99999;
    border-radius: 50px;
    -webkit-transition: all 0.4s;
    opacity: 0;
}

.topo-yes{
    opacity: 100%;
    -webkit-transition: all 0.4s;
}

.topo:hover {
    -webkit-transition: all 0.4s;
    background-color: #bdbdbd;
}

.topo a {
    height: 60px;
    width: 60px;
    color:rgba(255, 255, 255, 0.777);
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.2s;
}


/* Final To Top */



/* Footer */

footer {
    margin: 0 auto;
    max-width: 1600px;
    height: 150px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    background-color: var(--black-to-white);
}

.links {
    position: relative;
    display: flex;
    justify-content: space-between;
    
}
.link-1 {
    background-color: var(--white-to-black);
    display: flex;
    border-radius: 100px;
    text-decoration: none;
    height: 40px;
    width: 40px;
    -webkit-transition: all 0.4s;
}

.link-1 a{
   color:var(--black-to-white);
   width: 40px;
   height: 40px;
   font-size: 15px;
   justify-content: center;
   align-items: center;
   display: flex;
   text-decoration: none;

}

.link-1:hover{
    background-color: #6636ff;
    color: white;
    -webkit-transition: all 0.4s;
    border-radius: 100px;
}
.link-1 a:hover{
    background-color: #6636ff;
    color: white;
    -webkit-transition: all 0.4s;
    border-radius: 100px;
}

footer p {
    color: var(--white-to-black);
    font-size: 16px;
}

.copyright p {
    word-spacing: 3px;
    justify-content: center;
}

.copyright {
    display: flex;
    align-items: center;
}

.logo-footer img{
    width: 50px;
}

.logo-footer {
    width:70px;
}
.item-2 {
    display: grid;
    align-items: center;
    width: 1600px;
    justify-content: space-between;
    grid-template-columns: 500px 170px;
    border-top: solid 2px var(--scroll);
    background-color: var(--black-to-white);
    z-index: 1;
}

/* Final Footer */



/* Keyframes */
@keyframes load {

    0% {
        transform: translateY(10%);
        opacity:0%;
    }

    100% {
        transform: translateY(0%);
        opacity:100%;
    }
    
}


@keyframes load-2 {

    0% {
        opacity: 0%;
        transform: translateY(-200%);
    }

    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
    
}


@keyframes load-3 {

    0% {
        opacity: 0%;
        transform: translateY(150%);

    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
    
}

@keyframes load-4 {

    0% {
        opacity: 0%;
        transform: translateY(-350%);
    }

    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
    
}

@keyframes spin {
    10% {
        transform: translateY(-112%)
    }
    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }
}

@keyframes floating {

    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(7px);
    }
    100% {
        transform: translateY(0);
    }

    
}

/* Final Keyframes */